
	<div class="row">
		<div class="col-md-4">
			<%= image_tag @reader.image_url.to_s, class: "img-fluid" %>
		</div>

		<div class="col-md-8">
			<div class="book-info">
				
				<h5 class="section-title-home">
					<div class="section-title-home-content">
						<i class="mdi mdi-account"></i>
					<%= @reader.name %></div></h5>

				
				<div class="book-description"><%= markdown(@reader.description) %></div>
				
				<div class="links btn-group">
					<%= link_to "Back", readers_path, class: "btn btn-custom" %>

					<%= link_to "Edit", edit_reader_path, class: "btn btn-custom" %>
					<%= link_to "Delete", reader_path(@reader), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>

				</div>
			</div>
		</div>
	</div>
	
	<h2 class="section-title-home">
		<div class="section-title-home-content">
			My Books
		</div>
	</h2>	
	
	
	<%= render 'books/book_small' %>

	<%= will_paginate @books, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>






