<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag (@author.authorpath), class: "author-show" %>
		</div>

		<div class="col-md-8">
			<div class="book-info">
				
				<h5 class="section-title-home">
					<div class="section-title-home-content">
						<i class="mdi mdi-account-star"></i>
				<%= @author.fname %> <%= @author.lname %>
			</div></h5>

				<h6><%= @author.country.name %></h6>
				<h6><%= @author.category.name %></h6>
				<p class="book-description"><%= @author.description %></p>
				
				<div class="links btn-group">
					<%= link_to "Back", authors_path, class: "btn btn-custom" %>

					<%= link_to "Edit", edit_author_path, class: "btn btn-custom" %>
					<%= link_to "Delete", author_path(@author), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>

				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<% @books.each do |book| %>
		

		<div class="col-md-3">
			<div class="card-deck">
				<div class="card">
					<a href="/books/<%= book.id %>">
						<%= image_tag (book.coverpath), class: "book img-fluid card-img-top" %>
					
						<p class="card-text text-center"><%= book.title %></p>
						<p class="card-text text-center"><%= book.reader %></p>
						
					</a>
				<div class="card-footer">
      <small class="text-muted"><%= time_ago_in_words(book.created_at) %> ago</small>
    </div>
				</div>
			</div>
		</div>
		<% end %>

	</div>





</div>
