	<div class="row">
		<div class="col-md-4">
			<%= image_tag @author.image_url.to_s, class: "author-show" %>
		</div>

		<div class="col-md-8">
			<div class="book-info">
				
				<h5 class="section-title-home">
					<div class="section-title-home-content">
						<i class="mdi mdi-account-star"></i>
				<%= @author.fname %> <%= @author.lname %>
			</div></h5>
	
	<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Details</a></li>
				<li><a href="#tabs-2">Biografie</a></li>
				<li><a href="#tabs-3">Work</a></li>
			</ul>
		    <div id="tabs-1">
				<ul>
					<li><%= @author.country.name %></li>
					<li><%= @author.category.name %></li>
					<li><%= @author.books.count %> books </li>

				</ul>
				<div><%= markdown(@author.details) %></div>
				<div class="links btn-group">
					<%= link_to "Back", authors_path, class: "btn btn-custom" %>

					<%= link_to "Edit", edit_author_path, class: "btn btn-custom" %>
					<%= link_to "Delete", author_path(@author), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
				</div>
			</div>
		    <div id="tabs-2">
				<div class="book-description">
					<%= markdown(@author.description) %>
				</div>
			
			</div>
			<div id="tabs-3">
				<div class="book-description">
					
					<%= markdown(@author.work) %>
					
				</div>
			</div>
		
	</div>

				
				
				
			</div>
		</div>
	</div>
	<h2 class="section-title-home">
		<div class="section-title-home-content">
			Related Books
		</div>
	</h2>
	

<%= render 'books/book_large' %>



<script>
		$( function() {
			$( "#tabs" ).tabs();
		} );
</script>
