<div class="stretcher">
<h2 class="inline-form">Libraries <span class="badge badge-info"><%= @libraries.count %></span></h2>

<a class="btn btn-primary btn-lg inline-form float-right" href="/libraries/new" role="button">New</a>

<table class="table table-striped">
	<tr>
		<th>Library</th>
		<th>Books</th>
		<th>Image</th>
		<th>Actions</th>
	</tr>
	<% @libraries.each do |library| %>
		<tr>
			<td><%= library.name %></td>
			<td><%= library.books.count %></td>
			<td><%= image_tag library.image_url(:thumb).to_s %></td>
			<td><%= link_to "Show", library_path(library.id) %> | <%= link_to "Edit", edit_library_path(library.id) %> | <%= link_to "Delete", library_path(library), method: :delete, data: {confirm: 'Are you sure'} %> </td>

		</tr>
	<% end %>
</table>

</div>