
<div class="row">
		<div class="col-md-4">
			<%= image_tag @library.image_url, class: "author-show" %>
		</div>

		<div class="col-md-8">
			<div class="book-info">
				
				<h5 class="section-title-home">
					<div class="section-title-home-content">
						<i class="mdi mdi-account-star"></i>
				<%= @library.name %>
			</div></h5>

				<h6>Books total: <%= @library.books.count %></h6>
				<p class="book-description"><%= @library.description %></p>
				
				<div class="links btn-group">
					<%= link_to "Back", libraries_path, class: "btn btn-custom" %>

					<%= link_to "Edit", edit_library_path, class: "btn btn-custom" %>
					<%= link_to "Delete", library_path(@library), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>

				</div>
			</div>
		</div>
	</div>
