
<div class="row">
		<div class="col-md-4">
			<%= image_tag @library.image_url.to_s, class: "img-fluid"   %>
		</div>

		<div class="col-md-8">
			<div class="book-info">
				
				<h5 class="section-title-home">
					<div class="section-title-home-content">
						<i class="mdi mdi-library"></i>
				<%= @library.name %>
			</div></h5>
			

			<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Details</a></li>
				<li><a href="#tabs-2">Description</a></li>
				<li><a href="#tabs-3">Notes</a></li>
			</ul>
		    <div id="tabs-1">
				<ul>
					<li> books total <%= @library.books.count %></li>
					
				</ul>
				<div><%= markdown(@library.details) %></div>	
				<div class="links btn-group">
					<%= link_to "Back", libraries_path, class: "btn btn-custom" %>

					<%= link_to "Edit", edit_library_path, class: "btn btn-custom" %>
					<%= link_to "Delete", library_path(@library), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>

				</div>
			</div>
		    <div id="tabs-2">
				<div class="book-description">
					<%= markdown(@library.description) %>
				</div>
			
			</div>
			<div id="tabs-3">
				<div class="book-description">
					<%= markdown(@library.notes) %>
					
					
				</div>
			</div>
		
	    </div>	



				
				
					
				</div>
				
				
			</div>
		</div>
	</div>

	<script>
		$( function() {
			$( "#tabs" ).tabs();
		} );
</script>
