<div class="row">
	<% @books.each do |book| %>


	<div class="col-md-3 col-xl-2 col-sm-6">
		<div class="card-deck">
			<div class="card">
				<a href="/books/<%= book.id %>">
					<%= image_tag book.image_url.to_s, class: "img-fluid card-img-top" %>
					<div class="bg-light">
						
						<%= image_tag book.reader.image_url.to_s, class: "avatar-small" %>
						<% unless params[:tag] %>
						<ul class="list-inline list-unstyled">
							<% book.tags.each do |tag| %>
							<li class="list-inline-item badge badge-info text-center"> <%= tag.name %></li>
							<% end %>
						</ul>
						<% end %>
					</div>
				</a>
				<div class="card-text">
					<p class="card-text text-center flex-item"grow"><%= book.title %></p>
				</div>

				<div>
					<ul class="list-unstyled text-muted">
						
						<% book.loans.each do |loan| %>
						
						<li><%= loan.reader.name %></li>
						<li><%= loan.library.name %></li>
						<li><%= loan.date_start %></li>
						<li><%= loan.date_end %></li>
						<li><%= loan.is_returned %></li>
						<% end %>

					</ul>
				</div>

				<div class="card-footer text-center">
					<small class="text-muted"><%= remove_unwanted_words time_ago_in_words(book.created_at) %> ago</small>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	
</div>