<%= form_for @book,  html: {multipart: true} do |f| %>

<%= render 'shared/error_messages', object: f.object %>

<div class="form-group row">
<%= f.label :title, class: "col-sm-2 col-form-label" %>
<div class="col-sm-4">
<%= f.text_field :title, class: 'form-control' %>
</div>
<%= f.label :image, class: "col-sm-2 col-form-label" %>
<div class="col-sm-4">
<%= f.file_field :image, class: 'form-control' %>
</div>

</div>

<div class="form-group row">
<%= f.label :category, class: "col-sm-2 col-form-label"  %>
<div class="col-sm-4">
<%= f.select :category_id, Category.all.collect{|c| [c.name, c.id]}.sort, {:include_blank => 'Select one'},  class: 'form-control' %>
</div>

<%= f.label :medium, class: "col-sm-2 col-form-label"  %>
<div class="col-sm-4">
<%= f.select :medium_id, Medium.all.collect{|x| [x.name, x.id]}.sort, {:include_blank => 'Select one'},  class: 'form-control' %>
</div>
</div>

<div class="form-group row">
<%= f.label :Author, class: "col-sm-2 col-form-label"   %>	
<div class="col-sm-4">
<%= f.select :author_ids, Author.all.collect{|x| [x.lname + ', ' + x.fname, x.id]}.sort, {:include_blank => 'Select one'},  class: 'form-control ui-controls', multiple: true %>
</div>
<%= f.label :tags, class: "col-sm-2 col-form-label"  %>
<div class="col-sm-4" >
<%= f.select :tag_ids, Tag.all.collect{|x| [x.name, x.id]}.sort, {:include_blank => 'Select one'},  class: 'form-control ui-controls', multiple: true %>
</div>
</div>




<div class="form-group row">
<%= f.label :year, class: "col-sm-2 col-form-label"  %>
<div class="col-sm-4">
<%= f.text_field :year, class: 'form-control' %>
</div>
<%= f.label :price, class: "col-sm-2 col-form-label" %>
<div class="col-sm-4">
<%= f.text_field :price, class: 'form-control' %>
</div>
</div>

<div class="form-group row">
<%= f.label :description, class: "col-sm-2 col-form-label" %>
<div class="col-sm-10">
<%= f.text_area :description, class: 'form-control' %>
</div>
</div>

<hr>
<div>
	<p><strong>Loans</strong></p>
	<div id="loans">
		<%= f.fields_for :loans do |loan| %>
		
		<%= render 'loan_fields', f: loan %>
		<% end %>
		<div class="links float-right">
			<%= link_to_add_association 'add loan', f, :loans, class: 'btn btn-outline-secondary' %>
		</div>
	</div>
</div>
<br>

<%= f.submit 'Submit', class: 'btn btn-primary' %>
<%= link_to 'Cancel', books_path, class: 'btn btn-default' %>
<% end %>

<script>
	$( function() {
		
	$('.ui-controls').multiselect({
		enableFiltering: true,
		enableFullValueFiltering: true,
		enableCaseInsensitiveFiltering: true,
		maxHeight: 300,
	});
});
</script>


