
<h2 class="inline-form">Books <span class="badge badge-info" ><%= @books.count %></span></h2>
<a class="btn btn-primary btn-lg inline-form float-right" href="/books/new" role="button">New</a>

<table class="table table-striped">
	<tr>
		<th>Book Title</th>
		<th>Medium</th>
		<th>Lib</th>
		<th>Return Date</th>
		<th>Actions</th>
	</tr>
	<% @books.each do |book| %>
		<tr>
			<td><%= book.title %></td>
			<td><%= book.medium.name %></td>
			<td><%= book.library.name %></td>
			<% if TimeDifference.between( Date.today, book.return_date).in_days <= 3 %>
			<td class="text-danger"><%= book.return_date %></td>
				<% else %>
			<td class="text-dark"><%= book.return_date %></td>
				<% end %>
				
			
			<td> <%= link_to "Show", book_path(book.id) %> | <%= link_to "Edit", edit_book_path(book.id) %> | <%= link_to "Delete", book_path(book), method: :delete, data: {confirm: 'Are you sure'} %> </td>

		</tr>
	<% end %>
</table>
