
<h2 class="inline-form">Books all <span class="badge badge-info" ><%= @books.count %></span></h2>
<a class="btn btn-primary btn-lg inline-form float-right printer" href="/books/new" role="button">New</a>

<table class="table table-striped table-sm">
	<tr>
		<th>Book Title</th>
		<th>Medium</th>
		<th>Lib</th>
		
		<th>Return Date</th>
		<th class="printer" ">Actions</th>
	</tr>
	<% @books.each do |book| %>
		<tr>
			<td class="printer-font"><%= book.title %></td>
			<td class="printer-font printer-font-color"><%= book.medium.name %></td>
			<td class="printer-font printer-font-color"><%= book.library.name %></td>
			<td class="text-dark printer-font"><%= book.return_date %></td>
			<td class="printer"> <%= link_to "Show", book_path(book.id) %> | <%= link_to "Edit", edit_book_path(book.id) %> | <%= link_to "Delete", book_path(book), method: :delete, data: {confirm: 'Are you sure'} %> </td>

		</tr>
	<% end %>
</table>
