<div class="container">
<h2 class="inline-form">Books</h2>
<a class="btn btn-primary btn-lg inline-form" href="/books/new" role="button">New</a>

<table class="table table-striped">
	<tr>
		<th>Book Title</th>
		<th>Category</th>
		<th>Actions</th>
	</tr>
	<% @books.each do |book| %>
		<tr>
			<td><%= book.title %></td>
			<td><%= book.category.name %></td>
			
			<td> <%= link_to "Show", book_path(book.id) %> | <%= link_to "Edit", edit_book_path(book.id) %> | <%= link_to "Delete", book_path(book), method: :delete, data: {confirm: 'Are you sure'} %> </td>

		</tr>
	<% end %>
</table>
</div>