<div class="container">
	<% if params[:library] %>
	  <h3 class=""><%= params[:library] %> <span class="badge badge-info"><%= @books.count %> </span> <span class="badge badge-danger"><%= @books.where(:isReturned => false).minimum(:return_date) %></span></h3>

	<% elsif params[:category] %>
	  <h3 class="current-category"><%= params[:category] %> <span class="badge badge-info"> <%= @books.count %> </span></h3>

	<% else %>
	  <h3>Books lent <span class="badge badge-info"><%= @books.count %> </span></h3>
	<% end %>

	<% if @books.count == 0 %>
	<h4>There are currently no books in this category </h4>
	<% else %>	

	<div class="row">
		<% @books.each do |book| %>
		

		<div class="col-md-3">
			<div class="card-deck">
				<div class="card">
					<a href="/books/<%= book.id %>">
						<%= image_tag (book.coverpath), class: "book img-fluid card-img-top" %>
					
						<p class="card-text text-center"><%= book.title %></p>
						<p class="card-text text-center"><%= book.reader %></p>
						
					</a>
				<div class="card-footer">
      <small class="text-muted"><%= time_ago_in_words(book.created_at) %> ago</small>
    </div>
				</div>
			</div>
		</div>
		<% end %>

	</div>
	<% end %>

	<%= link_to "Add Book", new_book_path %>
</div>


