
	<% if params[:library] %>
	  <h3><%= params[:library] %> <span class="badge badge-info"><%= @books.count %></span>
		
		<% if TimeDifference.between( Date.today, @books.where(:isReturned => false).minimum(:return_date) ).in_days <= 3 %>
		  <span class="badge badge-danger"><%= @books.where(:isReturned => false).minimum(:return_date) %></span>
	    <% else %>
	      <span class="badge badge-purple"><%= @books.where(:isReturned => false).minimum(:return_date) %></span>
		<% end %>

	<%= link_to "Back", books_path, class: "btn btn-outline-secondary btn-sm float-right small-device"  %>
	</h3>

	<% elsif params[:category] %>
	  <h3><%= params[:category] %> <span class="badge badge-info"> <%= @books.count %> </span></h3>

	 <% elsif params[:tag] %>
	 <% @tags.each do |tag| %>
	 <span class="badge badge-purple ray"><%= link_to tag.name, books_path(tag: tag.name), class: "white" %></span>
	 <% end %> 
	  <h3><i class="mdi mdi-tag-faces text-info"></i> <%= params[:tag] %> <span class="badge badge-info"> <%= @books.count %> </span></h3> 
	
	<% elsif params[:reader] %>
	  <h3><%= params[:reader] %> <span class="badge badge-info"><%= @books.count %></span>
		  <%= link_to "Back", books_path, class: "btn btn-outline-secondary btn-sm float-right small-device"  %>
	</h3>

	<% else %>

	  <h3>Books lent <span class="badge badge-info"><%= @books.count %> </span>
		<% if TimeDifference.between( Date.today, @books.where(:isReturned => false).minimum(:return_date) ).in_days <= 3 %>
		
	  <span class="badge badge-danger"><%= @books.where(:isReturned => false).minimum(:return_date) %></span>
	  <% else %>
	  <span class="badge badge-purple"><%= @books.where(:isReturned => false).minimum(:return_date) %></span>
		<% end %>
		
		<% Reader.all.each do |reader| %>
		<% if reader.books.count > 0 %>
		<%= link_to reader.name, books_path(reader: reader.name), class: "btn btn-outline-info btn-sm float-right small-device", style: "margin-left: 5px;" %>
		<% end %>
		<% end %>

		<% Library.all.each do |library| %>
		<%= link_to library.name, books_path(library: library.name), class: "btn btn-outline-secondary btn-sm float-right small-device", style: "margin-left: 5px;" %>
		<% end %>

		

	  </h3>
	<% end %>
	
	<% if @books.count == 0 %>
	<h4>There are currently no books in this category </h4>
	<% else %>	

	<div class="row">
		<% @books.each do |book| %>
		

		<div class="col-xl-2 col-md-3 col-sm-6">
			<div class="card-deck">
				<div class="card">
					<a href="/books/<%= book.id %>">
						<%= image_tag (book.coverpath), class: "img-fluid card-img-top" %>
						<div class="bg-light">
						<%= image_tag (book.reader.readerpath), class: "avatar-small" %>
						<% unless params[:tag] %>
						<p class="badge badge-info text-center"><%= book.tag %></p>
						<% end %>
						</div>
						</a>
						<div class="card-text">
						<p class="card-text text-center flex-item"grow"><%= book.title %></p>
						</div>
					
				<div class="card-footer text-center">
      <small class="text-muted"><%= remove_unwanted_words time_ago_in_words(book.created_at) %> ago</small>
    </div>
		
	</div>
			</div>
		</div>
		<% end %>

	</div>
	<% end %>

	
	<%= link_to "Add Book", new_book_path, class: 'btn btn-outline-secondary btn-sm' %>

