
<div class="row">
	<div class="col-md-4">
		
	<div class="card">
					
						<%= image_tag (@book.coverpath), class: "img-fluid card-img-top" %>
						<div class="bg-light">
						<%= image_tag (@book.reader.readerpath), class: "avatar-small" %>
						<% unless params[:tag] %>
						<p class="badge badge-info text-center"><%= @book.tag %></p>
						<% end %>
						</div>
						</a>
						<div class="card-text">
						<p class="card-text text-center flex-item"grow"><%= @book.title %></p>
						</div>
					
				<div class="card-footer text-center">
      <small class="text-muted"><%= remove_unwanted_words time_ago_in_words(@book.created_at) %> ago</small>
    </div>
		
	</div>


		
	</div>

	<div class="col-md-8">
		<div class="book-info">
		
			<h4 class="book-title"><%= @book.title %>
			<% if @book.tag %>
			 <span class="badge badge-info"> <%= link_to @book.tag.name, books_path(tag: @tag.name), class:"white" %></span></h4>
			<% end %>
			<% if @book.author.fname != "DVD" %>
			<h5><%= link_to @book.author.fname + ' ' + @book.author.lname , author_path(@author.id), class: "link-big" %></h5>	
			<% end %>

			<h6 class="avg-rating">Average Rating</h6>
		
		    <div class="average-review-rating" data-score=<%= @average_review %>></div>
		    <span class="number-of-reviews" >Based on <%= @book.reviews.count %> reviews</span>
			<ul class="list-inline bg-light">
				<li class="list-inline-item">Lib: <%= @book.library.name %></li>
				<li class="list-inline-item"><%= @book.reader.name %></li>
				<li class="list-inline-item" >Genre: <%= @book.category.name %></li>
				<li class="list-inline-item" >Year: <%= @book.year %></li>
				<li class="list-inline-item" >Price: <%= @book.price %> EUR</li>
			</ul>
			
			<p>retour <span class="text-muted"><%= @book.return_date.strftime('%a, %d %b') %></span></p>
			<p>days lent <span class="text-muted"><%= TimeDifference.between(@book.date_start, @book.return_date).in_days.to_int %></span></p>
			
			<p class="book-description"><%= @book.description %></p>
			
			<div class="links btn-group">
				<%= link_to "Back", books_path, class: "btn btn-custom" %>

				<%= link_to "Edit", edit_book_path, class: "btn btn-custom" %>
				<%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="reviews">
			<h3>Reviews</h3>
		<%= render @book.reviews %>
		<div>

		<%= link_to "Add Review", new_book_review_path(@book), class: "btn btn-outline-secondary", style:"margin-top: 5px;" %>
	</div>
	</div>
</div>



<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>