
<div class="row">
	<div class="col-md-4">
		
		<div class="card">
			<%= image_tag @book.image_url.to_s, class: "img-fluid card-img-top" %>
			<div class="bg-light">

				<% @book.loans.each do |loan| %>
				<%= image_tag loan.reader.try(:image_url).to_s, class: "avatar-small" %>
				<% end %>
				<% unless params[:tag] %>
				<ul class="list-inline list-unstyled">
					<% @book.tags.each do |tag| %>
					<li class="list-inline-item badge badge-info text-center"> <%= tag.name %></li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</a>
		<div class="card-text">
			<p class="card-text text-center flex-item"grow"><%= @book.title %></p>
		</div>

		<div class="card-footer text-center">
			<small class="text-muted"><%= remove_unwanted_words time_ago_in_words(@book.created_at) %> ago</small>
		</div>
	</div>
</div>







<div class="col-md-8">
	
	
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Details</a></li>
			<li><a href="#tabs-2">Content</a></li>
			<li><a href="#tabs-3">Rating</a></li>
		</ul>
		<div id="tabs-1">
			<ul>
				<li> Title: <%= @book.title %></li>
				<% if @book.tags %>
				<% @tags.each do |tag| %>
				<span class="badge badge badge-info"><%= link_to tag.name, books_path(tag: tag.name), class: "white" %></span>
				<% end %>	
				<% end %>

				<% if @book.authors %>
				<% @authors.each do |author| %>
				<li>
					<%= link_to author.fname + ' ' + author.lname , author_path(author.id), class: "link-big" %>
				</li>
				<% end %>
				<% end %>
				<% if @book.loans %>
				<% @book.loans.each do |loan| %>
				<li>Library: <%= loan.library.name %></li>
				<li>Reader: <%= loan.reader.name %></li>
				<% end %>
				<% end %>
				<li>Category: <%= @book.category.name %></li>
				<li>Medium: <%= @book.medium.name %></li>
				<li>Year: <%= @book.year %> </li>
				<li>Price: <%= @book.price %> EUR</li>

				<% unless @book.loans.empty? %>
				<% @book.loans.each do |loan| %>
				<li class="text-muted"><%= loan.date_start %> | <%= loan.date_end %> | <%= loan.reader.name %> | <%= loan.library.name %> | <%= loan.is_returned %></li>
				<li class="text-muted">Loan Period: <%= TimeDifference.between(loan.date_start, loan.date_end).in_days.to_int %> days</li>
				<% end %>
				<% end %>

			</ul>
			<div class="links btn-group">
				<%= link_to "Back", request.referer || books_path, class: "btn btn-custom" %>

				<%= link_to "Edit", edit_book_path, class: "btn btn-custom" %>
				<%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
			</div>
		</div>
		<div id="tabs-2">
			<div class="book-description">
				<%= markdown(@book.description) %>
			</div>
			
		</div>
		<div id="tabs-3">
			<h6 class="avg-rating text-muted">Average Rating</h6>

			<div class="average-review-rating" data-score=<%= @average_review %>></div>
			<span class="number-of-reviews text-muted" >Based on <%= @book.reviews.count %> reviews</span>
		</div>
		
	</div>
	
</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="reviews">
			<h3>Reviews</h3>
			<%= render @book.reviews %>
			<div>

				<%= link_to "Add Review", new_book_review_path(@book), class: "btn btn-outline-secondary", style:"margin-top: 5px;" %>
			</div>
		</div>
	</div>
</div>

<script>
	$( function() {
		$( "#tabs" ).tabs();
	} );
</script>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

<script>
	$('.show-more').on("click", function() {
		$('.book-description').toggleClass('showContent');

	});
</script>


