<div class="stretcher">

<h2 class="inline-form">Media <span class="badge badge-info"><%= @media.count %></span></h2>
<a class="btn btn-primary btn-lg inline-form float-right" href="/media/new" role="button">New</a>
<br/>
<table class="table table-striped">
	<tr>
		<th>Medium</th>
		<th>Books</th>
		<th>Actions</th>
	</tr>
	<% @media.each do |medium| %>
		<tr>
			<td><%= medium.name %></td>
			<td><%= medium.books.count %></td>
			<td><%= link_to "Edit", edit_medium_path(medium.id) %> | <%= link_to "Delete", medium_path(medium), method: :delete, data: {confirm: 'Are you sure'} %> </td>

		</tr>
	<% end %>
</table>

</div>