
<h2 class="inline-form">Countries <span class="badge badge-info"><%= @countries.count %></span></h2>

<a class="btn btn-primary btn-lg inline-form float-right" href="/countries/new" role="button">New</a>

<table class="table table-striped">
	<tr>
		<th>Country</th>
		<th>Books</th>
		<th>Actions</th>
	</tr>
	<% @countries.each do |country| %>
		<tr>
			<td><%= country.name %></td>
			<td><%= country.authors.count %></td>
			<td><%= link_to "Edit", edit_country_path(country) %> | <%= link_to "Delete", country_path(country), method: :delete, data: {confirm: 'Are you sure'} %> </td>

		</tr>
	<% end %>
</table>

