<div class="container">
	<h2>Diagrams with Highcharts</h2>
	<h3>Classifications</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Categories </h4>
			<%= pie_chart Category.group(:name).count %>
		</div>
		<div class="col-md-3">
			<h4>Libraries </h4>
			<%= pie_chart Library.group(:name).count, donut: true %>
		</div>
        <div class="col-md-3">
        	<h4>Countries </h4>
			<%= pie_chart Country.group(:name).count %>
		</div>
		<div class="col-md-3">
        	<h4>Media </h4>
			<%= pie_chart Medium.group(:name).count %>
		</div>
	</div>
	<br>
	<h3>Statistics in barcharts</h3>
	<div class="row">
		<div class="col-md-4">
			<h4>Books per category</h4>
			<%= bar_chart Book.group(:category).count %>
		</div>
		<div class="col-md-4">
			<h4>Books per library</h4>
			<%= bar_chart Book.group(:library).count %>
		</div>
		<div class="col-md-4">
			<h4>Authors per country</h4>
			<%= bar_chart Author.group(:country).count %>
		</div>
		
	</div>
	<br>
	<h3>Statistics in piecharts</h3>
	<div class="row">
				
		<div class="col-md-4">
			<h4>Books per category</h4>
			<%= pie_chart Book.group(:category).count %>
		</div>
		<div class="col-md-4">
			<h4>Books per library</h4>
			<%= pie_chart Book.group(:library).count, donut: true %>
		</div>
		<div class="col-md-4">
			<h4>Authors per country</h4>
			<%= pie_chart Author.group(:country).count %>
		</div>
		
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<h4>Books per medium</h4>
			<%= pie_chart Book.group(:medium).count %>
		</div>
		<div class="col-md-4">
			<h4>Price per medium</h4>
			<%= column_chart Book.group(:medium).sum(:price) %>
		</div>
	</div>
	

</div>
