<div class="container">
	<header>
		<div class="bgimg">

			<h1>World of Books</h1>
			<h2 class="text-center">Books <span class="badge badge-info"><%= @books.count %></span></h2>
		</div>
	</header>
	<br>
	<div class="row">
		<div class="col-md-4">
			<%= image_tag ('book.jpg'), class: 'img-fluid' %>
			<p><%= @books.count %> books total</p>
		</div>
		<div class="col-md-4">
			<%= image_tag ('reader.jpg'), class: 'img-fluid' %>
			<p><%= @readers.count %> readers</p>
		</div>
		<div class="col-md-4">
			<%= image_tag ('library2.jpg'), class: 'img-fluid' %>
			<p><%=  @libraries.count %> libraries</p>
		</div>
	</div>
	
	
</div>
