
	<header>
		<div class="bgimg">

			<h1 class="text-center text-white">World of Books</h1>
			<h2 class="text-center text-white">Books <span class="badge badge-info"><%= @books.count %></span></h2>
			
			<h3 class="text-center text-white"> <span class="badge badge-purple"><%= @books3 %></span></h3>
			
			

		</div>
	</header>
	<br>
	
	<h2 class="section-title-home">
		<div class="section-title-home-content">
			Our Favorites
		</div>
	</h2>	

	<div class="row">
		<% @readers.each do |reader| %>
		<% @books1.each do |book| %>
		
		<% if reader.id === book.reader_id && book.isFavorite === true %>
		<div class="col-md-3">
			<div class="card-deck">
				<div class="card favorite">
					<a href="/books/<%= book.id %>">
						<%= image_tag (book.coverpath), class: " img-fluid card-img-top" %>

						<div class="card-img-overlay">
						<%= image_tag (book.reader.readerpath), class: "avatar image-circle" %>
						
						</div>
						
					</a>
					<div class="average-review-rating" data-score=<%= @average_review %>></div>
				<span class="badge badge-purple" ><%= reader.name %> <%= reader.books.where(:isReturned => false).count %> books</span>					

				<div class="card-footer">
      <small class="text-muted"><%= time_ago_in_words(book.created_at) %> ago</small>
    </div>
				</div>
			</div>
		</div>
		<% end %>
		<% end %>
		<% end %>

	</div>


	

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
