<h1>Technologies</h1>
<div class="row">
  
 
  <div class="col-md-1">
    <%= image_tag ('logos/sass.svg'), class: "logo-quer" %>
  </div>
  <div class="col-md-1">
    <%= image_tag ('logos/javascript.svg'), class: "logo" %>
  </div>
  <div class="col-md-1">
    <%= image_tag ('logos/jquery.svg'), class: "logo-quer" %>
  </div>
  <div class="col-md-1">
    <%= image_tag ('logos/ruby.svg'), class: "logo" %>
  </div>
  <div class="col-md-1">
    <%= image_tag ('logos/rails.svg'), class: "logo-quer" %>
  </div>
  <div class="col-md-1">
    <%= image_tag ('logos/sqlite.svg'), class: "logo-quer" %>
  </div>
  <div class="col-md-1">
    <%= image_tag ('logos/github.svg'), class: "logo" %>
  </div>
</div>
<br>


  <div class="row">
    <div class="col-md-1">
       <%= image_tag ('logos/html5.svg'), class: "logo" %>
    </div>
    <div class="col-md-11">
      HTML5
    </div>
  </div>

<div class="row">
  <div class="col-md-2">
    <%= image_tag ('logos/css3.svg'), class: "logo" %>
  </div>
    <div class="col-md-10">
      CSS3
  </div>

<div class="row">
  <div class="col-md-2">
    <%= image_tag ('logos/bootstrap.svg'), class: "logo" %>
  </div>
  <div class="col-md-10">
  <div id="exampleAccordion" data-children=".item">

  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
      Bootstrap4
    </a>
    <div id="exampleAccordion1" class="collapse show" role="tabpanel">
      
      <ul>
    <li>Navbar</li>
    <li>Grid System</li>
    <li>Buttons</li>
    <li>Tables</li>
    <li>Lists</li>
    </ul>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-2">
    
    <%= image_tag ('logos/sass.svg'), class: "logo-quer" %>
  </div>

  <div class="col-md-10">
    <div id="exampleAccordion" data-children=".item">
  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="true" aria-controls="exampleAccordion2">
      SASS
    </a>
    <div id="exampleAccordion2" class="collapse show" role="tabpanel">
      <ul>
      <li>Nesting</li>
      <li>Variables</li>
      <li>Mixins</li>
      <li>Partials</li>
      <li>Inheritance</li>
      <li>Functions</li>
    </ul>
     </div>
  </div>
</div>
  </div>
</div>



<li>
<div id="exampleAccordion" data-children=".item">
  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="true" aria-controls="exampleAccordion2">
      SASS
    </a>
    <div id="exampleAccordion2" class="collapse show" role="tabpanel">
      <ul>
			<li>Nesting</li>
			<li>Variables</li>
			<li>Mixins</li>
			<li>Partials</li>
			<li>Inheritance</li>
			<li>Functions</li>
		</ul>
     </div>
  </div>
</div>
</li>
</ul>
<li>
<div id="exampleAccordion" data-children=".item">

  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3" aria-expanded="true" aria-controls="exampleAccordion3">
      JavaScript
    </a>
    <div id="exampleAccordion3" class="collapse show" role="tabpanel">
      <ul>
      	<li>jquery.js</li>
		<li>raty.js</li>
		<li>highcharts.js</li>
		<li>ECMA Script6</li>
	</ul>
      
    </div>
  </div>
</div>
</li>
<li>Ruby</li>
<li>Ruby On Rails</li>
<li>
<div id="exampleAccordion" data-children=".item">

  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion4" aria-expanded="true" aria-controls="exampleAccordion4">
      Gems
    </a>
    <div id="exampleAccordion4" class="collapse show" role="tabpanel">
      <ul>
      	<li>bootstrap</li>
	<li>jquery-rails</li>
	<li>chartkick</li>
	<li>groupdate</li>
	<li>devise</li>
	</ul>
      
    </div>
  </div>
</li>
<li>Sqlite</li>
<li>Git & Github</li>
<li>Terminal</li>
</ol>

