
<h1 class="text-center"><i class="mdi mdi-keyboard-variant text-primary"></i>Technologies</h1>


<div id="accordion">
  <h3>HTML5</h3>

  <div>
    <ul>
      <li class="unten"><%= image_tag('logos/w3c', height: '30px', width: '30px') %> <a href="https://w3schools.com/" class="link-big" target="_blank">w3schools</a></li>
      <li>2014 recommandation released by <span title="World Wide Web Consortium"> W3C</span></li>
      <li>New semantic elementes like <code>header</code>, <code>footer</code>, <code>article</code> and <code>section</code></li>
      <li>New attributes of form elements like <code>number</code>, <code>date</code>, <code>time</code>, <code>calendar</code> and <code>range</code></li>
      <li>New graphic elements like <code>svg</code>, <code>canvas</code> and <code>iframe</code></li>
      <li>New multimedia elements <code>audio</code> and <code>video</code></li>
    </ul>
    
  </div>
  <h3>CSS3</h3>
  <div>
    <p>
    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
  <h3>Bootstrap 4</h3>
  <div>
    <ul>
      <li class="unten"><%= image_tag('logos/bootstrap', height: '30px', width: '30px') %> <a href="https://getbootstrap.com/" class="link-big" target="_blank">Bootstrap</a></li>
      <li>Usage of predefined classes for navbar, container, badges, buttons, tables</li>
      <li>Responsive images with <code>img-fluid</code> with max-width: 100%; height: auto</li>
      <li>Helper classes for padding <code>pr-sm-1</code>, <code>pl-sm-1</code> and margin <code>mt-1</code>, <code>mb-1</code></li>
      <li>Card Decks with equal height of each card in a line</li>
      <li>Media queries for small screens <code>@media (min-width: 768px) { ... }</code></li>
      <li>Special print layout with media query for print <code>@media only print { ... }</code></li>
      <li>Large selection of <a href="https://cdn.materialdesignicons.com/1.1.34/" class="link-small">Material Design Icons</a> - <i class="mdi mdi-pencil-box"></i><i class="mdi mdi-chart-bar"></i><i class="mdi mdi-home"></i> - with variable font-size and color</li>
    </ul>
    
  </div>
  <h3>SASS</h3>
  <div>
    <ul>
      <li class="unten"><%= image_tag('logos/sass', width: '60px') %> <a href="http://sass-lang.com/" target="_blank" class="link-big">SASS</a></li>
    </ul>
    
  </div>
  <h3>JavaScript</h3>
  <div>
    <ul>
      <li class="unten"><%= image_tag('logos/javascript', height: '30px', width: '30px') %> Javascript </li>
      <li>Raty</li>
      <li>Highcharts</li>
    </ul>
    
  </div>
  <h3>Jquery</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Jquery-UI</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>Ruby</h3>
  <div>
    <ul>
      <li class="unten" ><%= image_tag('logos/ruby', height: '30px', width: '30px') %> <a href="https://www.ruby-lang.org/de/" target="_blank" class="link-big"> Ruby</a></li>
      <li>Ternary operator for dynamic page title: <code> 
        @page_title ? @page_title : 'Welcome'  | Books
      </code></li>
      <li>Special functions: <code>time_ago_in_words(book.created_at)</code></li>
      <li>Iterations: <code>@books.each do |book|</code></li>
      <li>Conditions: <code>if TimeDifference.between( Date.today, @return_date_min).in_days <= 3</code></li>
      <li>Array functions: <code>Author.all.collect{|x| [x.lname + ', ' + x.fname, x.id]}.sort</code> </li>
      <li>Tag as optional value for Model book: <code>belongs_to :tag, optional: true</code></li>
    </ul>
    
  </div>
  <h3>Rails</h3>
  <div>
    <ul>
      <li class="unten"> <%= image_tag('logos/rails', width: '60px') %> <a href="http://guides.rubyonrails.org/" target="_blank" class="link-big">Ruby on Rails</a></li>
      <li>Models</li>
      <li>Controllers</li>
      <li>Views</li>
      <li>SQlite Database</li>
      
    </ul>
    
  </div>
  <h3>Gems</h3>
  <div>
    <ul>
      <li></li>
    </ul>
    <p>
    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
  <h3>SQLite</h3>
  <div>
    <ul>
      <li class="unten"><%= image_tag('logos/sqlite', width: '60px') %> <a href="https://www.sqlite.org/" class="link-big" target="_blank">SQLite </a></li>
      <li><a href="http://sqlitebrowser.org/" target="_blank" class="link-small"> DB Browser</a></li>
    </ul>
    
  </div>
  <h3>Github</h3>
  <div>
  <ul>
   <li class="unten"><%= image_tag('logos/github', height: '30px', width: '30px') %> <a href="https://github.com/tilogermer/books" target="_blank" class="link-big"> Github</a></li>
   <li>development platform inspired by the way you work</li>
   <li>host and review code, manage projects, and build software alongside millions of other developers</li>
  </ul>
  
    
  </div>
</div>



<script>
  $( function() {
   
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
    
        
  } );
  </script>
