
<h1>Technologies</h1>
<ul class="ohne">
  <li class="unten"><%= image_tag('logos/bootstrap', height: '30px', width: '30px') %> <a href="https://getbootstrap.com/" class="link-big" target="_blank">Bootstrap</a>
    <ul>
      <li>Card Decks</li>
      <li>Navbar with Dropdown</li>
    </ul>
   </li>
   <li class="unten" ><%= image_tag('logos/ruby', height: '30px', width: '30px') %> <a href="https://www.ruby-lang.org/de/" target="_blank" class="link-big"> Ruby</a></li>
   <li class="unten"><%= image_tag('logos/javascript', height: '30px', width: '30px') %> Javascript
    <ul>
      <li>Raty</li>
      <li>Highcharts</li>
    </ul>
   </li>
   <li class="unten"> <%= image_tag('logos/rails', width: '60px') %> <a href="http://guides.rubyonrails.org/" target="_blank" class="link-big">Ruby on Rails</a>
    <ul>
      <li>Models</li>
      <li>Controllers</li>
      <li>Views</li>
      <li>SQlite Database</li>
      <li>Gems
        <ul>
          <li>bootstrap</li>
          <li>jquery-rails</li>
          <li>devise</li>
          <li>chartkick</li>
          <li>groupdate</li>
          <li>time_difference</li>
        </ul>
      </li>
    </ul>
   </li>
   <li class="unten"><%= image_tag('logos/sqlite', width: '60px') %> <a href="https://www.sqlite.org/" class="link-big" target="_blank">SQLite </a>
    <ul>
      <li><a href="http://sqlitebrowser.org/" target="_blank" class="link-big"> DB Browser</a></li>
    </ul>
   </li>
   <li class="unten"><%= image_tag('logos/sass', width: '60px') %> <a href="http://sass-lang.com/" target="_blank" class="link-big">SASS</a></li>
   <li class="unten"><%= image_tag('logos/github', height: '30px', width: '30px') %> <a href="https://github.com/tilogermer/books" target="_blank" class="link-big"> Github</a></li>
</ul>

