<div class="container">
<h2 class="inline-form">Categories <span class="badge badge-info"><%= @categories.count %></span></h2>

<a class="btn btn-primary btn-lg inline-form float-right" href="/categories/new" role="button">New</a>
<br/>
<table class="table table-striped">
	<tr>
		<th>Category</th>
		<th>Books</th>
		<th>Actions</th>
	</tr>
	<% @categories.each do |category| %>
		<tr>
			<td><%= category.name %></td>
			<td><%= category.books.count %></td>
			<td> <%= link_to "Edit", edit_category_path(category.id) %> | <%= link_to "Delete", category_path(category), method: :delete, data: {confirm: 'Are you sure'} %> </td>

		</tr>
	<% end %>
</table>

