<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title : 'Welcome' %> | Books</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
  
 

  <%= csrf_meta_tags %>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
  
</head>

<body>
  
  <div class="container">
  <%= render 'layouts/navbar' %>	
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <div class="content">
   <%= yield %>
  </div>
  <%= render 'layouts/footer' %> 
 </div>

</body>
</html>
